<h1 class="title"> {{ project.title }} </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/projects/edit/{{project.id}}"> Editar </a>
</div>


<table class="main table border-vertical tb-vertical">
  <tr>
    <th class="init"> Title </th>
    <td> <div class="td-cont"> {{ project.title }} </div> </td>
  </tr>

  <tr>
    <th> Main Img </th>
    <td>
      <div class="td-cont">
        <form class="form-file" id="form-file" method="POST" enctype="multipart/form-data">

          <label id="label-img" class="label-img" for="img">
            <img id="img-tag" src={{ project.main_img }} alt="main img">
          </label>
          
          <input class="none" type="file" name="main_img" id="img">
          
          <div class="buttons" id="buttons">
            <button id="drop-file" type="button" class="btn b-red"> Eliminar </button>
          </div>
        </form> 
        
      </div>
    </td>
  </tr>

  <tr>
    <th> Description </th>
    <td> <div class="td-cont">{{ project.description }}</div>  </td>
  </tr>

  <tr>
    <th> Sections </th>
    <td>
      
      <div id="screen" class="none">

        <form id="form-sections" class="form form-file form-screen" method="POST" enctype="multipart/form-data">

          <label id="label-section-img" class="label-img" for="img-section">
            <img id="img-section-tag" src="/images/main_image.png" alt="main section img">
          </label>

          <input class="none" type="file" name="img" id="img-section">

          <div class="field">
            <label for="content"> content: </label>
            <textarea name="content" id="content" placeholder="Ingresar contenido"></textarea>
          </div>

          <button id="btn-cancel-section" type="button" class="btn b-red"> Cancelar </button>
          <button id="btn-add-section" type="submit" class="btn"> Agregar </button>
        </form>

      </div>

      <div class="td-cont">
        <button id="btn-new-section" class="btn w-100"> Nuevo </button>


        <div id="list-cont" class="list-cont">
          {{#sections }}
            <div class="item">
              <img src="{{ img }}">
              <div> {{ content }} </div>

              <div class="buttons-cont">
                <button class="btn"> Editar </button>
                <button class="btn b-red"> Eliminar </button>
              </div>
            </div>
          {{/sections }}
        </div>

      </div>
      {{!-- Sections --}}

    </td>
  </tr>

  <tr>
    <th class="end"></th>
    <td>
      <form method="POST" action="/admin_panel/projects/{{project.id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn b-red right" type="submit" > Delete </button>
      </form>
    </td>
  </tr>
</table>
