<h1 class="title"> {{ project.title }} </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/projects/edit/{{project.id}}"> Editar </a>
</div>


<table class="main table border-vertical tb-vertical">
  <tr>
    <th class="init"> Title </th>
    <td> <div class="td-cont"> {{ project.title }} </div> </td>
  </tr>

  <tr>
    <th> Main Img </th>
    <td>
      <div class="td-cont">
        <form class="form-file" id="form-file" method="POST" enctype="multipart/form-data">

          <label id="label-img" class="label-img" for="img">
            <img id="img-tag" src={{ project.main_img }} alt="main img">
          </label>
          
          <input class="none" type="file" name="main_img" id="img">
          
          <div class="buttons" id="buttons">
            <button id="drop-file" type="button" class="btn b-red"> Eliminar </button>
          </div>
        </form> 
        
      </div>
    </td>
  </tr>

  <tr>
    <th> Description </th>
    <td> <div class="td-cont">{{ project.description }}</div>  </td>
  </tr>

  <tr>
    <th> Sections </th>
    <td> 
    
      {{!-- Sections --}}

    </td>
  </tr>

  <tr>
    <th class="end"></th>
    <td>
      <form method="POST" action="/admin_panel/projects/{{project.id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn b-red right" type="submit" > Delete </button>
      </form>
    </td>
  </tr>
</table>
