<h1 class="title"> Emails </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/emails/new"> Nuevo </a>
</div>


<table class="main table border-horizontal tb-horizontal">
  <thead>
    <tr>
      <th class="init"> ID </th>
      <th> to </th>
      <th> from </th>
      <th> subject </th>
      <th class="end"> Eliminar </th>
    </tr>
  </thead>
  <tbody>
      {{#emails }}
        <tr>
          <td class="init"> {{ id }} </td>
          <td>  <a href="/admin_panel/emails/show/{{id}}"> {{ _to }} </a> </td>
          <td> {{ _from }} </td>
          <td> {{ subject }} </td>
          <td class="end">
            <form method="POST" action="/admin_panel/emails/{{id}}" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn b-red" type="submit" > Delete </button>
            </form>
          </td>
        </tr>
      {{/emails}}
  </tbody>
</table>