<h1 class="title"> Sliders </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/sliders/new"> Nuevo </a>
</div>


<table class="main table border-horizontal tb-horizontal">
  <thead>
    <tr>
      <th class="init"> ID </th>
      <th> Img </th>
      <th> Content </th>
      <th> Url </th>
      <th> Editar </th>
      <th class="end"> Eliminar </th>
    </tr>
  </thead>
  <tbody>
      {{#sliders }}
        <tr>
          <td class="init"> {{ id }} </td>
          <td> <a href="/admin_panel/sliders/show/{{id}}"> <img src={{ img }} alt="img"> </a> </td>
          <td> {{ content }} </td>
          <td> {{ is_url url }} </td>
          <td> <a class="link c-black" href="/admin_panel/sliders/edit/{{id}}"}}> Edit </a> </td>
          <td class="end">
            <form method="POST" action="/admin_panel/sliders/{{id}}" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn b-red" type="submit" > Delete </button>
            </form>
          </td>
        </tr>
      {{/sliders}}
  </tbody>
</table>
