<h1 class="title"> Admins </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/admins/new"> Nuevo </a>
</div>


<table class="main table border-horizontal tb-horizontal">
  <thead>
    <tr>
      <th class="init"> ID </th>
      <th> Name </th>
      <th> Email </th>
      <th> Super Admin </th>
      <th> Editar </th>
      <th class="end"> Eliminar </th>
    </tr>
  </thead>
  <tbody>
      {{#admins }}
        <tr>
          <td class="init"> {{ id }} </td>
          <td> <a href="/admin_panel/admins/show/{{id}}"> {{ name }} </a> </td>
          <td> {{ email }} </td>
          <td> {{ is_su_admin}} </td>
          <td> <a class="link c-black" href="/admin_panel/admins/edit/{{ id }}"> Edit </a> </td>
          <td class="end">
            <form method="POST" action="/admin_panel/admins/{{ id }}" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn b-red" type="submit" > Delete </button>
            </form>
          </td>
        </tr>
      {{/admins}}
  </tbody>
</table>
