<h1 class="title"> Admins </h1>

<a class="button" href="/admin_panel/admins/new"> Nuevo </a>


<table class="table tb-horizontal">
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Email </th>
      <th> Super Admin </th>
      <th> Editar </th>
      <th> Eliminar </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#admins }}
        <td> {{ id }} </td>
        <td> {{ name }} </td>
        <td> {{ email }} </td>
        <td> {{ is_su_admin}} </td>
        <td> <a href="/admin_panel/edit/{{ admin.id }}"> Edit </a> </td>
        <td>
          <form method="POST" action="/admin_panel/admins/{{ id }}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE">
            <button class="link" type="submit" > Delete </button>
          </form>
        </td>
      {{/admins}}
    </tr>
  </tbody>
</table>
