<h1 class="title"> {{ admin.name }} </h1>


<div class="button-content">
  <a class="btn" href="/admin_panel/admins/edit/{{admin.id}}"> Editar </a>

</div>

<table class="main table border-vertical tb-vertical">
  <tr>
    <th class="init"> Name </th>
    <td> <div class="td-cont"> {{ admin.name }} </div> </td>
  </tr>

  <tr>
    <th> Email </th>
    <td> <div class="td-cont"> {{ admin.email }} </div> </td>
  </tr>

  <tr>
    <th> Super Admin </th>
    <td> <div class="td-cont"> {{ admin.is_su_admin }} </div> </td>
  </tr>
  
  <tr>
    <th class="end"></th>
    <td>
      <form method="POST" action="/admin_panel/admins/{{admin.id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn b-red right" type="submit" > Delete </button>
      </form>
    </td>
  </tr>
</table>
